/* Update your CSS for .new-collections */
.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
  }
  .new-collections hr{
    width: 400px;
    height: 1px; /* Adjust the height to make the line thinner */
    border-radius: 10px;
    background: #252525;
  }
  /* Add a new class for the wrapper container */
  .collections-wrapper {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
  }
  
  /* Update your CSS for .collections */
  .collections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
    align-items: center;
  }
  
  .collections .item {
    width: 100%; /* Adjust the width based on your preference */
    text-align: center;
    /* Add other styling properties for individual items as needed */
  }
  @media(max-width:1280px){
    
    .new-collections h1{
      font-size: 40px;
    }
    
    .new-collections hr{
      width: 160px;
      height: 4px;
    }
    .collections{
      gap: 20px;
      margin-top: 30px;
    }
  }
  
  
  @media(max-width:1024px){
    
    .new-collections h1{
      font-size: 30px;
    }
   
    .new-collections hr{
      width: 120px;
      height: 3px;
    }
    .collections{
      gap: 15px;
      margin-top: 20px;
    }
  }
  
  @media(max-width:800px){
    .new-collections{
    
      gap: 6px;
    }
    .new-collections h1{
      font-size: 20px;
    }
   
    .new-collections hr{
      width: 100px;
     
    }
    .collections{
      gap: 15px;
      
    }
  }
  
  @media(max-width:500px){
    
    .collections{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }